[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
	branch = 3.19.x
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
	branch = main
[submodule "third_party/absl"]
	path = third_party/absl
	url = https://github.com/abseil/abseil-cpp
	branch = master
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
	branch = main
[submodule "third_party/ukey2/ukey2"]
	path = third_party/ukey2/ukey2
	url = https://github.com/google/ukey2
	branch = master
[submodule "third_party/smhasher/smhasher"]
	path = third_party/smhasher/smhasher
	url = https://github.com/aappleby/smhasher
	branch = master
[submodule "third_party/securemessage/securemessage"]
	path = third_party/securemessage/securemessage
	url = https://github.com/google/securemessage.git
	branch = master
[submodule "third_party/google-toolbox-for-mac/google-toolbox-for-mac"]
	path = third_party/google-toolbox-for-mac/google-toolbox-for-mac
	url = https://github.com/google/google-toolbox-for-mac.git
	branch = main
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "third_party/json/json"]
	path = third_party/json/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "third_party/micro-ecc"]
	path = third_party/micro-ecc
	url = https://github.com/kmackay/micro-ecc
