<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWRVbmOJOai7QETdfWRch-V0vmNwSjeRw</string>
	<key>GCM_SENDER_ID</key>
	<string>929507197760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deling.hello-cloud</string>
	<key>PROJECT_ID</key>
	<string>hello-cloud-5b73c</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-cloud-5b73c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929507197760:ios:aaa6ac33ad52b74a8f30a5</string>
	<key>DATABASE_URL</key>
	<string>https://hello-cloud-5b73c-default-rtdb.firebaseio.com</string>
</dict>
</plist>